p {
  color: black;
  font-size: 20px;
}

.social-media {
  display: flex;
  justify-content: center;
  transition: transform 0.2s;
  cursor: pointer;
}
.social-media :hover {
  transform: scale(1.01);
}

.text-div {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, rgba(240, 240, 240, 0.8509803922), rgb(220, 220, 220), rgba(240, 240, 240, 0.8509803922));
}

.facebook {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #4267b2;
}

.instagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(120deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.text {
  font-size: 20px;
  justify-content: center;
  padding: 15px;
}

.navlinks {
  display: flex;
  flex-direction: row;
}
.navlinks .link {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}
.navlinks .link-btn {
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: none;
  background-color: green;
  color: yellow;
  font-weight: 600;
  margin: 10px;
}
.navlinks .link-btn :hover {
  color: green;
  background-color: yellow;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapper .items-grid {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.wrapper .btn-group {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.wrapper .btn {
  background-color: yellow;
  color: green;
  font-weight: 600;
  margin: 15px;
  font-size: 20px;
}
.wrapper .page-number {
  background-color: green;
  color: yellow;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.item-card {
  text-align: center;
  min-width: 250px;
  max-width: 250px;
  margin: 10px;
  box-sizing: border-box;
  border-color: yellow;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.item-card :hover {
  box-shadow: 0px 0px 10px 0px gray;
}
.item-card .card-container {
  display: flex;
  align-items: center;
}
.item-card .item-img {
  max-width: 250px;
}
.item-card .item-name {
  text-align: left;
  text-transform: capitalize;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 20px;
}
.item-card .item-value {
  text-align: left;
  font-size: 18px;
}
.item-card .div-content {
  padding: 20px;
}

.products-wrapper {
  margin-top: 5px;
  background-color: rgba(240, 240, 240, 0.8509803922);
  text-align: center;
}
.products-wrapper .div-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.8509803922);
}
.products-wrapper .div-input {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 25px;
}
.products-wrapper .div-grid {
  padding: 50px;
  display: flex;
  justify-content: center;
}
.products-wrapper .item-btn {
  border-radius: 4px;
  border-right: 5px;
}
.products-wrapper .item-btn :hover {
  background: transparent;
}

.routes-wrapper {
  background-color: rgba(240, 240, 240, 0.8509803922);
}
.routes-wrapper .header {
  display: flex;
  flex-direction: row;
  background-color: green;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-radius: 0px;
}
.routes-wrapper .header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.routes-wrapper .image {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-right: 15px;
}
.routes-wrapper .title {
  font-size: 30px;
  font-weight: bold;
  color: yellow;
  width: 200px;
}
.routes-wrapper .footer {
  border-top: solid 2px yellow;
  background-color: green;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.routes-wrapper .text-footer {
  display: flex;
  flex-flow: row wrap;
  font-size: 16px;
  width: 135px;
  color: yellow;
  font-weight: 500;
}
.routes-wrapper .styled-btn {
  background-color: green;
  color: yellow;
  font-size: small;
  margin: 20px;
  padding: 10px;
  width: 50px;
}
.routes-wrapper .styled-btn :hover {
  background-color: yellow;
  color: green;
}/*# sourceMappingURL=style.css.map */